.App {
  text-align: center;
}

nav {
  background-color: aliceblue;
}
nav#navigation {
  justify-content: flex-end;
  /* font-size: 15px; */
}
ul.nav {
  margin: 10px;
  padding: 10px;
}

li.nav-item {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 20px;
  font-family: cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1 rem;
}
div#about-me-page {
  background-color: beige;
  font-size: 20px;
  margin: 0px;
  padding: 50px;
  /* padding-top: 50px; */
}
